version: '3.8'
services:
  mysql:
    image: mysql:8.0
    platform: linux/amd64
    container_name: mysql_sales_mgmt
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: sales_mgmt
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    ports:
      - "3307:3306"
    volumes:
      - ./mysql-data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password


  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    platform: linux/amd64
    container_name: phpmyadmin
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8080:80"

